.tag-pane-tag-self:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 100%;
    top: -6px;
    left: 10%;
    cursor: pointer;
}
.sr-flashcard-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.is-mobile #sr-modal {
    --top-space: calc(var(--safe-area-inset-top) + var(--header-height) + var(--size-4-2));
    width: 100vw !important;
    height: calc(100vh - var(--top-space)) !important;
    margin-top: var(--top-space);
}

#sr-modal .modal-title {
    display: none;
}

#sr-modal .modal-close-button {
    z-index: 21;
}

body:not(.native-scrollbars) #sr-modal .modal-close-button {
    top: 12px;
}

.sr-modal-content {
    position: relative;
    overflow: hidden;
}

.sr-flashcard-input-area > textarea {
    height: 100%;
}

.sr-flashcard-edit-button-bar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.sr-flashcard-response {
    grid-template-columns: auto auto auto auto;
}

.sr-ignorestats-response,
.sr-flashcard-response {
    display: inline-grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    position: absolute;
    bottom: 0;
}

.sr-ignorestats-btn {
    width: 100%;
}

.sr-ignorestats-response {
    grid-template-columns: auto auto;
    gap: var(--size-4-4);
}
.sr-is-hidden {
    display: none !important;
}

.sr-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sr-deck-list,
.sr-flashcard,
.sr-edit-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#sr-show-answer {
    display: block;
    height: 48px;
    line-height: 48px;
}
.sr-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--hr-color);
}

.sr-title {
    font-size: var(--font-ui-large);
    font-weight: var(--font-semibold);
    text-align: center;
    line-height: var(--line-height-tight);
}

.sr-content {
    overflow-y: auto;
}

.sr-button {
    box-shadow: none !important;
    cursor: pointer;
}

.sr-back-button {
    z-index: 21;
    cursor: var(--cursor);
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 26px;
    line-height: 22px;
    height: 26px;
    width: 26px;
    padding: 0 var(--size-2-2);
    border-radius: var(--radius-s);
    color: var(--text-muted);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-back-button:hover,
.sr-button:hover {
    background-color: var(--background-modifier-hover);
}

.sr-response {
    display: flex;
    width: 100%;
    margin-top: var(--size-4-4);
    gap: var(--size-4-4);
}

.sr-response-button {
    height: 48px;
    flex-grow: 1;
    margin: auto;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    user-select: text;
}

.sr-bg-blue,
.sr-bg-green,
.sr-bg-red {
    color: #ffffff !important;
}

.sr-bg-green {
    background-color: #4caf50 !important;
}

.sr-bg-blue {
    background-color: #2094f3 !important;
}

.sr-bg-red {
    background-color: #ff7043 !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-green,
.sr-response-button.sr-bg-green:hover {
    background-color: hsl(122, 39%, 44%) !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-blue,
.sr-response-button.sr-bg-blue:hover {
    background-color: hsl(207, 90%, 49%) !important;
}

.sr-deck-list .sr-tree-item-row:hover .sr-bg-red,
.sr-response-button.sr-bg-red:hover {
    background-color: hsl(14, 100%, 58%) !important;
}

/* -> DeckListView */

.sr-deck-list .sr-header {
    gap: 8px;
    padding-bottom: 14px;
    margin-bottom: 24px;
}

.sr-deck-list .sr-header-stats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.sr-deck-list .sr-header-stats-count {
    display: flex;
    color: #ffffff;
    padding: 4px;
    gap: 4px;
}

.sr-deck-list .sr-header-stats-count > *:first-child {
    min-width: 10ch;
}

.sr-deck-list .sr-header-stats-count > *:last-child {
    min-width: 3ch;
    text-align: right;
}

.sr-deck-list .sr-tree-item-row {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 0;
}

.sr-deck-list .sr-tree-stats-container {
    display: flex;
    gap: 4px;
}

.sr-deck-list .sr-tree-stats-count {
    min-width: 3ch;
    padding: 4px;
    box-sizing: content-box;
    text-align: center;
    color: #ffffff !important;
}

/* -> FlashcardReviewView */

.sr-flashcard .sr-header {
    position: relative;
    gap: 8px;
    padding-bottom: 8px;
}

.sr-flashcard .sr-button:disabled {
    cursor: not-allowed;
}

.sr-flashcard .sr-back-button {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 21;
}

.sr-flashcard .sr-controls {
    display: flex;
    gap: var(--size-4-4);
}


#sr-hard-btn {
    background-color: #f44336;
}

#sr-good-btn {
    background-color: #2196f3;
}

#sr-easy-btn {
    background-color: #4caf50;
}

.sr-flashcard .sr-context {
    font-style: italic;
    color: var(--text-faint);
    display: block;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 4px;
    margin-left: 8px;
}

.sr-flashcard .sr-content {
    font-size: var(--font-text-size);
    overflow-y: auto;
    user-select: text;
    padding-inline: 8px;
    width: 100%;
    flex-grow: 1;
}

.sr-flashcard .sr-card-divide {
    backdrop-filter: invert(40%);
    border-top-style: dashed;
}

/* -> EditModal */

.sr-edit-modal {
    height: 80%;
}

.sr-edit-view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-4-4);
}

.sr-edit-view .sr-input {
    flex-grow: 1;
    width: 100%;
    resize: none;
}

.sr-edit-view .sr-response {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    margin-top: 0;
}

.sr-edit-view .sr-response-button {
    width: 100%;
}

#sr-flashcard-view {
    font-size: var(--font-text-size);
    overflow-y: auto;
    height: 77%;
    user-select: text;
}
.sr-edit-view .sr-response-button.sr-spacer {
    opacity: 0;
    cursor: default;
}

/*  -> Statistics */

#sr-chart-period {
    appearance: menulist;
    border-right: 8px solid transparent;
}

@media only screen and (max-width: 600px) {
    .sr-back-btn {
        width: initial !important;
    }

    .sr-modal-content {
        width: 98% !important;
        /* height: 90%; */
    }

    #sr-context {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 92%;
        /* height: 20px; */
    }

    #sr-flashcard-view {
        height: 70% !important;
    }

    .sr-modal-content::-webkit-scrollbar,
    #sr-flashcard-view::-webkit-scrollbar {
        display: none;
    }

    .sr-flashcard-response,
    #sr-show-answer {
        width: 93.5% !important;
        line-height: 60px;
    }

    .ResponseFloatBarCommandItem,
    #sr-hard-btn,
    #sr-good-btn,
    #sr-easy-btn {
        width: 90%;
    }

    /* sidebar */
    .nav-file-title,
    .nav-folder-title {
        margin-bottom: var(--size-2-1);
        display: flex;
    }

    .nav-folder-title {
        padding: var(--nav-item-parent-padding);
    }

    .nav-folder.mod-root .nav-folder > .nav-folder-children {
        padding-left: var(--nav-item-children-padding-left);
        margin: 0 0 0 var(--nav-item-children-margin-left);
        border-left: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    }

    .nav-file {
        margin-left: var(--nav-item-children-margin-left);
        border-radius: var(--radius-s);
    }
}

.srs-flex-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 10px;
}

/* https://img.shields.io/github/v/release/chetachiezikeuzor/cMenu-Plugin */
/*----------------------------------------------------------------
ResponseFloatBar TOOLBAR
----------------------------------------------------------------*/

#reviewResponseModalBar {
    width: 95%;
    height: auto;
    padding: 3px;
    display: grid;
    user-select: none;
    border-radius: 6px;
    position: absolute;
    /* flex-direction: row; */
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
    align-items: center;
    transition: 200ms ease;
    min-width: fit-content;
    /* justify-content: space-around; */
    z-index: var(--layer-status-bar);
    box-shadow: 0px 3px 32px rgba(37, 49, 224, 0.15);
    border: 1px solid var(--background-modifier-border);
    background: var(--background-primary-alt);
}

.sr-show-response {
    height: 48px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ResponseFloatBarCommandItem {
    border: none;
    cursor: pointer;
    padding: 5px 6px;
    min-width: 10px;
    width: 90%;
    height: 48px;
    box-shadow: none;
    margin: auto;
    position: relative;

    border-radius: 3px;
    font-size: initial !important;
    --background-secondary: var(--background-primary-alt);
}

#reviewResponseModalBar button.ResponseFloatBarCommandItem:hover {
    color: #050505;
    background-color: var(--background-secondary);
}

#reviewResponseModalBar button.ResponseFloatBarCommandItem svg {
    width: 1.3em;
    height: 1.3em;
}

/*----------------------------------------------------------------
  ResponseFloatBar SETTING ITEMS
  ----------------------------------------------------------------*/
.setting-item.ResponseFloatBarCommandItem:first-child {
    padding-top: 18px;
}

#sr-reset-btn,
#sr-again-btn {
    background: #6b6b6b;
}
#sr-blackout-btn {
    background: #6b6b6b;
}
#sr-incorrect-btn {
    background: #be9d9d;
}
#sr-incorrect\ \(easy\)-btn {
    background: #ff9088;
}

#sr-showintvl-btn,
#sr-close-btn {
    margin-top: 13px;
    margin-right: 3px;
    height: 20px;
    width: 30px;
}

.ResponseFloatBarCommandItem {
    cursor: grab;
    padding: 18px 0 18px 0;
}

/*----------------------------------------------------------------
  ResponseFloatBar CLASS CHANGES
  ----------------------------------------------------------------*/

.ResponseFloatBarGlassAesthetic {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.ResponseFloatBarDefaultAesthetic {
    background-color: var(--background-primary);
}

/*----------------------------------------------------------------
  ResponseFloatBar ICONS
  ----------------------------------------------------------------*/

.ResponseFloatBarIconPick {
    line-height: normal;
    vertical-align: middle;
    margin-right: 8px;
}

.ResponseFloatBarIconPick svg {
    width: 17px;
    height: 17px;
}
